.clothesItem {
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;

}

.clothesItem:hover {
  box-shadow: 1px 1px 10px 1px rgba(153, 153, 153, .5);
}

img {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.brandAndTitle {
  font-size: 15px;
  color: rgb(153, 153, 153);
  margin-top: 10px;
}

.priceAndButton {
  /* border: 1px solid green; */
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.priceAndButton .price {
  font-size: 18px;
  font-weight: 700;
}

.priceAndButton button {
  width: 110px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background: rgb(186, 48, 166);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.hint {
  display: none;
}

.hint .boxForHint {
  position: absolute;
  top: 37px;
  width: 15px;
  height: 15px;
  transform: rotateY(0deg) rotate(45deg);
  background: #fff;
}


.priceAndButton button:hover ~ .hint {
  display: block;
  position: absolute;
  top: 325px;
  right: 17px;
  width: 140px;
  height: 45px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 10px 1px rgba(153, 153, 153, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
