.formControl {
  position: relative;
}
.formControl input {
  margin-top: 5px;
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid rgb(170, 170, 170);
  margin-bottom: 25px;
  width: 100%;
}

.formControl span {
  position: absolute;
  top: 30px;
  font-size: 12px;
  color: red;
}
.error input, 
.error textarea 
{
  border-bottom: 1px solid red; 
}

.formSummaryError {
  max-width: 150px;
  width: 100%;
  border: 2px solid purple;
  color: purple;
}