.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #fff;
}

.logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  /* border: 1px solid blue */
}

.searchInput {
  position: relative;
  max-width: 670px;
  width: 100%;
}

.searchInput input {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  border-radius: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.searchInput:hover input {
  background-color: rgba(0, 0, 0, 0.5);
}

.searchInput:hover input::placeholder {
  color: #fff;
}

.searchLoupe {
  position: absolute;
  top: 15px;
  right: 25px;
}

.searchLoupe i {
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.searchInput:hover .searchLoupe i {
  color: #fff;
}

.cartSection {
  position: relative;
  box-sizing: border-box;
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.cartSection i {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  font-size: 35px;
  transition: right 1s, transform 1s;
}

.cartSection span {
  opacity: 0;
}

.cartSection.active i {
  color: #fff;
  font-size: 35px;
  transform: translateX(-100px);
}

.cartSection.active:hover,
.cartSection.active span:hover,
.cartSection.active i:hover {
  cursor: pointer;
}

.cartSection.active span {
  opacity: 1;
  transition: 1s ease-out;
}
